


-if @question.user.already_liked?(answer)
  .liked
    =link_to icon("fas", "crown"), question_answer_like_path(@question.id, answer.id, params[:id]), id: "crown",method:"DELETE"
    -# = icon("fas", "crown")

-elsif current_user == @question.user 
  .like
    = link_to icon("fas", "crown"), question_answer_likes_path(@question.id,answer.id), method:"POST", class: "like-btn"
