// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ここからヘッダー
header {
  background-image: url("/images/header2.jpg");
  background-size: cover;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  // align-items: center;
  .header-logo {
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    &__title{
      text-decoration: none;
      color: gold;
      font-size: 50px;
      font-family: Georgia, serif;
      // line-height: 80px;
    }
    p {
      color: white;
      font-family: Georgia, serif;
      font-size: 12px;
    }
  }
  .header-list {
    line-height: 80px;
    padding-top: 10px;
    margin-right: 150px;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    // position: fixed;
    // z-index: 1;

    &__li {
      // background-color: green;
      text-decoration: none;
      color: white;
      font-family: Georgia, serif;
      margin-left: 30px;
    }
    &__li:hover {
      color: gold;
    }

    // &__drop {
    //   text-decoration: none;
    //   color: white;
    //   margin-left: 30px;
      
    //   li {
    //       // height: 30px;
    //       // background-color: yellow;
    //       display: none;
    //       padding: 5px;
    //       box-sizing: border-box;
    //       // child{ top:27px; }
    //     a {
    //       // display: none;
    //       display: block;
    //       text-decoration: none;
    //       border-radius: 10px;
    //       background-color: white;
    //       // height: 20px;
    //       font-size: 15px;

    //     }
    //   }
    // }

    
    // &__login {
    //   text-decoration: none;
    //   color: white;
    // }
    // &__new {
    //   text-decoration: none;
    //   color: white;
    //   margin-left: 30px;
    // }
  }
}

// ここからサイドバー
.side {
  height: calc(100vh - 90px);
  width: 240px;
  background-color: rgba(140, 140, 132, 0.461);
  border: inset 5px;
  font-family: Georgia, serif;
  float: left;
  margin-top: 80px;
  
  &__top {
    height: 50px;
    border-radius: 20px;
    margin: 5%;
    background-color: #eeeeee;
    padding-left: 20px;
    line-height: 50px;
    font-size: 20px;
    
    a {
      text-decoration: none;
      color: black;
    }
  }

  &__title {
    height: 20px;
    margin: 5%;
    // background-color: #eeeeee;
    // border-radius: 10px;
    // padding-left: 20px;
    // line-height: 80px;
    font-size: 20px;
  }

  &__list {
    height: 50px;
    border-radius: 20px;
    margin: 5%;
    background-color: #eeeeee;
    padding-left: 20px;
    line-height: 50px;
    font-size: 20px;
  }
  

}


// ここからメインコンテンツ
.main-contents {
  height: calc(100vh - 80px);
  width: calc(100vw - 250px);
  overflow: scroll;
  background-image: url("/images/watch1.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  float: right;
  margin-top: 80px;
 

  &__content {
    width: 800px;
    height: 120px;
    background-color: rgba(255,255,255,0.6); 
    margin: 0 auto; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 10px 5px 5px rgb(62, 62, 28);
    // white-space: nowrap;  
    // overflow: hidden;  
    // text-overflow: ellipsis; 
    a {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      text-indent:-599px;
    } 

    &--info {
      display: flex;
      &--title {
        font-weight: bold;
        font-size: 20px;
        // height: 30px;
        border-radius: 5px;
        white-space: nowrap;  
        overflow: hidden;  
        text-overflow: ellipsis;
        font-family: Georgia, serif;
        margin-left: 15px;
      }

      &--name {
        margin-left: 20px;
        margin-right: 20px;
      }

      &--price {
        background-color: rgba(123, 119, 11, 0.755);
        font-family: Georgia, serif;
        border: inset;
        width: 140px;
        // margin-left: 300px;
        text-align: center;
        border-radius: 10px;
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    
    &--main{
      // height: 100%;
      box-sizing: border-box;
      &--text {
      // height: 60px;
      padding: 10px;
      white-space: nowrap; 
      overflow: hidden;  
      text-overflow: ellipsis;

      }
      &--image {
        color: rgb(16, 96, 165);
      }

      &--time {
        // padding: 10px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        font-size: 15px;
        float: right;
        padding: 10px;
      }
    }

  }
  &__content:hover {
    background-color:rgba(255,255,255,0.9);

  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}